.App {
  text-align: center;
}

.serve-container{
  width: 620px;
  height: 645px;
  background: #fff;
  display: block;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0 50px 0 50px ;
  position: relative;
  text-align: left;
}
.progressBar{
  background-color: white !important;
  width: 350px !important; 
  height: 20px !important;
  border-radius: 0 !important;
}
hr{
  display: block;
   height: 1px;
  border: 0;
  border-top: 1px solid rgb(234, 233, 233);
  margin: 1em 0; padding: 0;
}
.rate{
  font-size: 60px !important;
  font-weight: 200 !important;
  padding: 0 50px 0 50px !important;
}
.rest a {
  color: #6a6a6a!important;
}

.total .kbLblJ{
  padding:0 !important;
  text-align: center !important;
  margin:0 !important;
}
.polls-left .kbLblJ{
  text-align: center !important;
}
.polls-left .kbLblJ .total{
  margin: 0 !important;
}
p.total img{
  padding-top:3px;
  padding-right:2px;
}

.gPSssS{
  height: 20px !important;
  border-radius: 0 !important;
  width: 400px !important;
  background-color: #fff !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.blWbXy{
  height: auto !important;
}
.gilhbI{
  padding-top:0 !important;
}
.cOUFpd{
color:#6A6A6A !important;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
